html {
  width: 100%;
  height: 100%;
  cursor: pointer;
  touch-action: manipulation;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
}

button {
  touch-action: pan-x;
  touch-action: pan-y;
  touch-action: pinch-zoom;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#up {
  right: 150px;
  bottom: 150px;
}

#left {
  right: 250px;
  bottom: 50px;
}

#down {
  right: 150px;
  bottom: 50px;
}

#right {
  right: 50px;
  bottom: 50px;
}

#can {
  background-color: yellow;
  width: 100%;
  height: 100%;
  position: absolute;
}

